/* Overall Body Style */
body {
  font-family: Arial, sans-serif;
  background-color: #090137;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;  /* Hides scroll bars in WebKit browsers (Chrome, Safari) */
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Style for all the page boxes */
#section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #090137;
  border-bottom-style: solid;
  border-bottom-color: rgb(40, 40, 78);
  scrollbar-width: none;  /* Hides scroll bars in Firefox */
}

/* Audio Page */
.audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.audio-background {
  background-image: url('images/image2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.behind-the-scenes-background {
    background-image: url('images/image.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire element with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    width: 100%; /* Set the width to 100% */
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    flex-direction: column; /* Arrange the flex items in a column */
}

